@code {

    [Parameter]
    public EventCallback OnSubmitted { get; set; }

    [Parameter] 
    public bool ExcessiveConstraints { get; set; }

    private void Submit()
    {
        OnSubmitted.InvokeAsync();
    }

    private string BackColor => ExcessiveConstraints switch
    {
        false => "#00C171",
        true => "#FFF200"
    };

    private string ForeColor => ExcessiveConstraints switch
    {
        false => "#FFFFFF",
        true => "#000000"
    };

}

<div class="submit-button" 
     @onclick="Submit"
     style="background-color: @BackColor; color: @ForeColor">
    <i class="fa-regular fa-floppy-disk"></i>
</div>
