@inherits LayoutComponentBase
@using SchedulerWeb.Views.UIComponents
<div class="page" dir="rtl" lang="he-IL">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@

    <main>
        <div>
            <MyNavMenu /> @* Including the NavMenu component here *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
