@page "/error"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
<h3>שגיאה!</h3>

<div class="mt-3">
    <a href="@RedirectUrl">נסה שוב</a>
</div>

@code {
    [Parameter] public string Redirect { get; set; } = string.Empty;
    private string RedirectUrl => $"/{Redirect}";

    protected override void OnInitialized()
    {
        var uri = new Uri(NavigationManager.Uri);
        var hasUriRedirect = QueryHelpers.ParseQuery(uri.Query).TryGetValue("redirect", out var redirect);

        if (hasUriRedirect)
        {
            Redirect = redirect!;
        }
    }
}