@page "/file"
@using SchedulerWeb.Views.FileExceptions

<h1>דרג.י את המשמרות לפי 4 קטגוריות</h1>
<h2><span style="color: #8ED973; font-weight: bold">ירוק</span> - העדפה לקחת את המשמרת</h2>
<h2><span style="color: #FFC000; font-weight: bold">כתום</span> - העדפה לא לקחת את המשמרת</h2>
<h2><span style="color: #FF3300; font-weight: bold">אדום</span> - אילוץ: לא יכול לקחת את המשמרת</h2>
<h2><span style="color: #8e8e8e; font-weight: bold">אפור</span> - ניטרלי: אין התייחסות מיוחדת</h2>
<h3>בחר.י את סוג ההתייחסות בכפתור מטה בצד ימין</h3>
<h3>ובחר.י את המשמרות עליהם ההתייחסות חלה</h3>

<ScheduleManager/>
}
